<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bibliometric Engine</title>

    <!-- Simple datatables -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Styling -->
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/images/datablend-logo.png" type="image/x-icon">
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #1C292F;" >
        <!-- Navbar Brand-->
        <img src="/static/images/datablend-logo.png" style="margin-left: .7rem; margin-right: -.5rem; width: 1.2rem; height: 1.2rem;" alt="">
        <a class="navbar-brand ps-3" href="/">Bibliometric Engine</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search "
                    aria-describedby="btnNavbarSearch" />
                <button class="btn" style="background-color: #CED2D3;" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #1C292F;"  id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Menu</div>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Home
                        </a>
                        <div class="sb-sidenav-menu-heading">Tools</div>
                        <a class="nav-link" href="/merge">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Databases Merge
                        </a>
                        <a class="nav-link" href="/statistical">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></div>
                            Statistical Analysis
                        </a>
                        <a class="nav-link" href="/chat">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-comments"></i></div>
                            Data Summary
                        </a>
                        <div class="sb-sidenav-menu-heading">Info</div>
                        <a class="nav-link" href="/about">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                            About
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer" style="background-color: #22333b;">
                    <div class="small">Author:</div>
                    Lucas Ribeiro
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Statistical Analysis</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">Bibliometric Engine</li>
                        <li class="breadcrumb-item active">Statistical Analysis</li>
                    </ol>

                    <div class="row">
                        <div class="col-xl-7">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fa-solid fa-chart-line"></i>
                                    Analyzing Databases
                                </div>
                                <div class="container" style="padding: 2.5rem;">
                                    <p>

                                        Statistical analysis of a database involves applying mathematical and analytical
                                        techniques to extract valuable insights from data. By exploring patterns,
                                        trends, and relationships within the dataset, statisticians can make informed
                                        decisions and predictions. This process plays a crucial role in fields such as
                                        business, science, and healthcare, aiding data-driven decision-making.
                                    <div class="d-flex justify-content-center">
                                        <img src="/static/images/statistical-image.svg" alt="Statiscical image."
                                            style="width: 17.5rem;">
                                    </div>
                                </div>
                                <div class="align-items-center small card-footer">
                                    <a class="text-success text-center" style="text-decoration: none;" href="/about"><i
                                            class="fa-regular fa-circle-question"></i> <strong>About</strong> the usage
                                        of the tool.</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fa-solid fa-circle-arrow-up"></i>
                                    Upload files
                                </div>
                                <div class="container" style="padding: 2.5rem;">
                                    <p>
                                        Here, u must drop your scopus-wos-merged<strong>.csv</strong> file, as instructed in the
                                        callout aside.
                                    </p>
                                    <form action="/analyzes" enctype="multipart/form-data" method="post">
                                        <div class="mb-3">
                                            <input class="form-control form-control-sm" name="database" id="database" type="file">
                                        </div>
                                        {% if result_file == True %}
                                        <small>
                                            <div class="alert alert-success text-center alert-dismissible fade show"
                                                role="alert">
                                                Sucessfully merged!
                                                <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                        </small>
                                        {% endif %}
                                        {% if result_file == 'not_a_zip' %}
                                        <small>
                                            <div class="alert alert-danger text-center alert-dismissible fade show"
                                                role="alert">
                                                U must upload a <strong>.csv</strong> and a <strong>.txt</strong> file!
                                                <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                        </small>
                                        {% endif %}
                                        <div class="d-flex justify-content-around">
                                            <button type="submit" class="btn btn-sm" style="color: #fff; background-color: #2274A5;"
                                                id="submit-btn">Upload</button>
                                            {% if result_file == True %}
                                            <a class="btn btn-success btn-sm" href="/download_file"
                                                download="scopus-wos-merged.csv">
                                                Download
                                            </a>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; UnB (GPIPP) Bibliometric Engine - 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Bootstramp -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script src="/static/scripts.js"></script>
</body>

</html>